@import '~antd/dist/antd.css';
#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(251, 251, 251, 0.93);
}
.site-layout .site-layout-background {
  background: rgb(204, 204, 204);
  height: calc(100% - 100px);
}

.ant-layout .ant-layout-header {
  background: #c7c7c7;
}